<div style="width: 100%; background-color: #eee;">
    <div style="max-width:600px;margin:0 auto;padding: 20px; line-height: 25px; background-color: #fff;font-family:Verdana,Arial,'Helvetica Neue'">
        <p>
            Dear <b>MOHAMMAD,</b>
        </p>
        <p>
            We are happy to announce that you are selected as an eligible person to get <b style="color:#1e30d6;"> 1000 FREE HABANA Tokens ($HBA) </b> as a gift.
        </p>
        <!-- <p>
            Your <b>$HBA</b> tokens will be transferred to your BSC address: (<b>0xe4E1400eE12337ba28e0Fc25f98Af8f96DC68425</b>) after pre-sale ends (December 1st 2020).
        </p> -->
        <p>
            <b> To finalize the airdrop process and get your free HABANA tokens please complete the steps described in the link below : </b>
        </p>

         https://habanatoken.com/  

        <p>
            Kind Regards, <br/>
            HABANA Team.
        </p>

    </div>
</div>