<body style="background-color: #eee;">
<div style="max-width:600px;margin:0 auto; background-color: #fff;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:600px; padding: 10px; border-radius: 0px; background-color:#7a008a ;">
        <tbody>
            <tr>
                <!-- <td width="100%" align="left" style="padding:0px 16px 0px 16px;font-size:1px;line-height:1px">
                    <a href="https://habanatoken.com/" target="_blank"> 
                      <img src="https://habanatoken.com/assets/img/hba-logo-200-transparent.png" alt="logo"
                            width="100px"> 
                     </a>
                </td> -->
                <td>
                    <!-- <a href="https://habanatoken.com/" style="color:#FFB507; text-decoration: none;" target="_blank"> -->

                    <div
                        style="color:#FFB507; font-weight: 600;font-family: Arial;font-size: 1.5rem; text-align: center;width: 100%;">
                        HABANA Token
                    </div>
                    <!-- </a> -->
                </td>
            </tr>
        </tbody>
    </table>

    <div style="padding: 20px 0px; max-width:600px; width: 100%; text-align: center; font-size: 2rem; color:#7a008a;font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Congratulations !
    </div>



    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:600px">
        <tbody>
            <tr>
                <td
                    style="font-size:15px;line-height:19px;font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;padding:30px 16px 0px 16px;text-align:left">
                    Dear <b>MOHAMMAD,</b>
                </td>
            </tr>
            <tr>
                <td style="padding-top:20px"></td>
            </tr>
            <tr>
                <td
                    style="font-size:15px;line-height:28px;font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;padding:0px 16px 21px 16px;text-align:left">
                    We are happy to announce that you are selected as an eligible person to get <b style="color:#1e30d6;"> 1000 FREE HABANA Tokens ($HBA) </b> as a gift !
                </td>
            </tr>

            <tr>
                <td
                    style="font-size:15px;line-height:28px;font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;padding:0px 16px 21px 16px;text-align:left">
                    Your <b>$HBA</b> tokens will be transferred to your BSC address: (<b>0xe4E1400eE12337ba28e0Fc25f98Af8f96DC68425</b>) after pre-sale ends (December 2021).
                </td>
            </tr>

            <tr>
                <td
                    style="color:#c20707;font-size:15px;line-height:28px;font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;padding:0px 16px 21px 16px;text-align:left">
                    <b> To finalize the airdrop process and get your free HABANA tokens please complete the following steps : </b>
                </td>
            </tr>


            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="background-color: #834ec9;color:#fff; padding: 10px; font-size:15px;line-height:19px;font-weight:500;">
                                    1- Follow <span style="text-decoration: underline;font-weight: 600;">Habanatoken</span> Token on Twitter</td>
                            </tr>
                            <!-- <tr>
                                <td width="100%"
                                    style="font-size:16px;line-height:25px;color:#1e30d6;padding:15px; font-weight: 500;">
                                    <a href="https://twitter.com/Habanatoken"
                                        style="color:#1e30d6;text-decoration:none;" target="_blank"
                                    >
                                        https://twitter.com/Habanatoken
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="background-color: #834ec9;color:#fff; padding: 10px; font-size:15px;line-height:19px;font-weight:500;">
                                    2- Follow <span style="text-decoration: underline;font-weight: 600;">habanatoken</span> on Instagram</td>
                            </tr>
                            <!-- <tr>
                                <td width="100%"
                                    style="font-size:16px;line-height:25px;color:#1e30d6;padding:15px; font-weight: 500;">
                                    <a href="https://www.instagram.com/habanatoken/"
                                        style="color:#1e30d6;text-decoration:none;" target="_blank"
                                    >
                                        https://www.instagram.com/habanatoken/
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="background-color: #834ec9;color:#fff; padding: 10px; font-size:15px;line-height:19px;font-weight:500;">
                                    3- Follow <span style="text-decoration: underline;font-weight: 600;">HabanaToken</span> on Facebook</td>
                            </tr>
                            <!-- <tr>
                                <td width="100%"
                                    style="font-size:16px;line-height:25px;color:#1e30d6;padding:15px; font-weight: 500;">
                                    <a href="https://www.facebook.com/HabanaToken/"
                                        style="color:#1e30d6;text-decoration:none;" target="_blank"
                                    >
                                        https://www.facebook.com/HabanaToken/
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>


            <!-- <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="background-color: #834ec9;color:#fff; padding: 10px; font-size:15px;line-height:19px;font-weight:500;">
                                    4- Join Our Telegram Group:</td>
                            </tr>
                            <tr>
                                <td width="100%"
                                    style="font-size:16px;line-height:25px;color:#1e30d6;padding:15px; font-weight: 500;">
                                    <a href="https://t.me/joinchat/BTo_dW4F9iA0NWM8"
                                        style="color:#1e30d6;text-decoration:none;" target="_blank"
                                    >
                                        https://t.me/joinchat/BTo_dW4F9iA0NWM8
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr> -->

            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="background-color: #834ec9;color:#fff; padding: 10px; font-size:15px;line-height:19px;font-weight:500;">
                                    4- Join Our Telegram Announcement Channel: <span style="text-decoration: underline;font-weight: 600;">habanatoken</span></td>
                            </tr>
                            <!-- <tr>
                                <td width="100%"
                                    style="font-size:16px;line-height:25px;color:#1e30d6;padding:15px; font-weight: 500;">
                                    <a href="https://t.me/habanatoken"
                                        style="color:#1e30d6;text-decoration:none;" target="_blank"
                                    >
                                        https://t.me/habanatoken
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- <tr>
                <td align="center" style="padding:22px 16px 22px 16px">
                    <div>
                        <table align="center" cellpadding="0" cellspacing="0" border="0"
                            style="background-color:#dd5800;border-radius:3px;">
                            <tbody>
                                <tr>
                                    <td height="40" align="center" valign="middle"
                                        style="color:#ffffff;font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:17px;line-height:21px;padding:0px 20px">
                                        <a href="https://habanatoken.com/"
                                            style="color:#ffffff;text-decoration:none;display:block;width:100%;height:100%;line-height:40px"
                                            target="_blank">
                                            See more on our Website
                                       
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </td>
            </tr> -->

            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="width: 100%; text-align: left ;padding: 10px; font-size:15px;line-height:25px;">
                                    You can find our social media accounts in our website (at the bottom of the page).
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%; text-align: left ;padding: 10px; font-size:15px;line-height:25px;">
                                     If you have any questions or concerns, please do not hesitate to contact us.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>



            <tr>
                <td style="border-bottom:0px solid #e0e0e0;padding:5px 16px">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                        style="font-family:Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:left;line-height:19px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="color: #555; font-weight: 600 ;width: 100%; text-align: left ;padding: 10px; font-size:15px;line-height:25px;">
                                   Kind Regards, <br/> 
                                   HABANA Team.

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>



        </tbody>
    </table>







</div>
</body>